html, body{
    font-family: 'PoppinsRegular', 'Rubik', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
    font-size: 16px;
}

b{
    font-family: 'PoppinsMedium', 'Rubik', sans-serif;
}

.bg-top{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
    background-color: var(--color-secondary);
}

.width-fix{
    width: calc(100% - 20px);
    max-width: 800px;
    margin: 0 auto;
}

.card{
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) !important;
    border: none !important;
}

.container-img{
    width: 60px;
    height: 60px;
    background-image: url('../img/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
    border-radius: 20px;
}

.infos{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infos h1{
    font-size: 18px;
    margin-bottom: 5px;
    color: var(--color-black);
}

.infos-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-open{
    font-size: 14px;
    margin-bottom: 0;
    color: var(--color-green);
}

.status-open.closed{
    color: var(--color-red);
}

.link{
    text-decoration: none !important;
    font-size: 14px;
    color: var(--color-primary) !important;
}

section.categoria{
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 100;
    background: var(--color-background);
    width: 100%;
    padding-top: 15px;
}

.container-menu{
    margin-bottom: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.item-categoria{
    flex: none;
    margin-right: 10px;
}

.item-categoria i{
    padding-right: 5px;
}

.btn-white{
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn-sm{
    padding: 8px 13px;
    border-radius: 15px;
    font-size: 16px;
}

.btn-white:hover, .btn-white.active{
    background-color: var(--color-primary);
}