@font-face{
    font-family: 'PoppinsMedium';
    src: url('../fonts/Poppins-Medium.otf');
}

@font-face{
    font-family: 'PoppinRegular';
    src: url('../fonts/Poppins-Regular.otf');
}

:root {
    --color-background: #fffdf7;
    --color-black:#212121;
    --color-text:#4f4f4f;
    --color-text-out:#90908e;
    --color-primary:#ffbf00;
    --color-primary-out:#ffda6f;
    --color-secondary:#fff2cc; 
    --color-white:#ffffff;
    --color-red:#e74c3c;
    --color-green:#2ecc71;
    --color-separete:#cccccc;
    --color-input-out:#ececec;

    --box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1) !important;

}