/* Login */

.login{
    width: calc(100% - 20px);
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card-login{
    flex: 1;
    padding: 45px;
    background-color: var(--color-secondary);
}

.icon-form{
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
    color: var(--color-primary);
    font-size: 18px;
}

.card-login img{
    margin: 0 auto;
    margin-bottom: 30px;
}

.card-login input{
    padding-left: 45px;
}

.btn-login{
    padding: 11px;
    font-size: 18px;
}

/* Menu Left */

.menu-left{
    width: 250px;
    background-color: var(--color-secondary);
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.menu-left .menus{
    padding-left: 25px;
}

.menu-left .logo{
    text-align: center;
    padding: 30px 0;
}

.menu-item{
    display: block;
    padding: 15px 30px;
    color: var(--color-black) !important;
    text-decoration: none;
}

.menu-item.active{
    background-color: var(--color-background);
    font-weight: bold;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.menu-item.active::before{
    content: "";
    height: 50px;
    width: 25px;
    background-color: transparent;
    position: absolute;
    border-top-left-radius: 20px;
    box-shadow: 0 -25px 0 0 var(--color-background);
    right: 0;
    margin-top: -65px;
    rotate: 180deg;
}
.menu-item.active::after{
     content: "";
    height: 50px;
    width: 25px;
    background-color: transparent;
    position: absolute;
    border-top-right-radius: 20px;
    box-shadow: 0 -25px 0 0 var(--color-background);
    right: 0;
    margin-top: 40px;
}

.menu-item i{
    width: 18px;
    text-align: center;
    margin-right: 8px;
}

.conteudo{
    padding-left: 270px;
    padding-right: 15px;
}

/* Menu topo */
h1.title-page{
    color: var(--color-black);
    font-size: 20px;
    flex: 1;
}

.container-right{
   display: flex;
   align-items: center;
}

.container-dados{
    margin-right: 30px;
}

.container-dados p{
   margin-bottom: 0;
   font-size: 16px;
   text-align: right;
   color: var(--color-black);
   line-height: 15px;
}


.container-dados span{
   font-size: 13px;
   text-align: right;
   color: var(--color-text-out);
}

/* Tela Pedidos */

.conteudo-inner{
    margin-top: 50px;
}

.menus-pedido i{
    margin-right: 5px;
}

.menus-pedido a{
    margin-right: 10px;
    opacity: 0.6;
}

.menus-pedido a.active{
    opacity: 1;
}

.badge-total-pedidos{
    display: inline-block;
    background-color: var(--color-primary-out);
    border-radius: 50px;
    font-size: 14px;
    width: 25px;
    text-align: center;
    margin-left: 5px;
    border: 1px dotted var(--color-white);
}


.numero-pedido{
    font-size: 16px;
}

.card-pedido .dropdown{
float: right;
z-index: 999 !important;
}

.info-pedido{
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-black);
}

.info-pedido i{
    width: 25px;
    text-align: center;
}

.info-pedido span{
    display: block;
    color: var(--color-text);
    font-size: 14px;
}

.separate{
    height: 1px;
    background-color: var(--color-text-out);
    margin-bottom: 10px;
    margin-top: 10px;
}

.horario-pedido{
    margin-bottom: 0;
    font-size: 14px;
    color: var(--color-text-out);
}

.total-pedido{
    text-align: right;
    margin-bottom: 0;
    margin-top: 15px;
    color: var(--color-primary);
}

.card-pedido{
    box-shadow: 1px 0px 15px 3px rgba(0,0,0,0.08) !important;
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out;
}


.card-pedido:hover {
    box-shadow: 1px 0px 15px 3px rgba(0,0,0,0.2) !important;
    background-color: var(--color-background);
    filter: brightness(108%) contrast(105%); 
}

.card-pedido::before{
    content: "";
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    top: -7px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffffff 50%,  #ffffff 100%) -7px -8px / 16px 16px , repeat-x;
}

.card-pedido::after{
    content: "";
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    bottom: -7px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffffff 50%,  #ffffff 100%) -15px 2px / 16px 16px , repeat-x;
}

.card-pedido:hover::before , .card-pedido:hover::after {
    background-image: radial-gradient(circle, transparent, transparent 50%, var(--color-background) 50%, var(--color-background) 100%) ;
}

.card-content{
    cursor: pointer;
}

.card-pedido-body{
    height: 140px;
}

/* MODAL DETALHES */

.modal-content{
    background: transparent;
    border: none;
}

.modal-header{
    border-bottom: 0;
    background-color: var(--color-background);
    border-radius: 0px;
}

.modal-header::before{
    content: "";
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    top: -8px;
    background: radial-gradient(circle, transparent, transparent 50%, var(--color-background)50%,  var(--color-background) 100%) -7px -8px / 16px 16px , repeat-x;
}

.modal-header button{
    background-color: var(--color-red) !important;
    color: var(--color-white) !important;
}

.modal-title{
    font-size: 18px;
    color: var(--color-black);
}

.modal-title .horario-pedido{
    font-size: 14px;
    color: var(--color-text);
    padding-left: 15px;
}

.modal-body{
    padding: 0;
}

.container-dados-pedidos{
    padding: 20px;
    padding-bottom: 25px;
    background-color: var(--color-background) !important;
}

.container-dados-pedidos .d-flex{
justify-content: space-between;
}

.cursor-default{
    cursor: default !important;
}

.container-dados-pedidos .info-pedido{
    font-size: 14px;
    color: var(--color-text);
}

.container-itens-pedido{
    padding: 20px;
    background-color: var(--color-white);
}

.container-itens-pedido .card-item{
    padding: 5px 0px 10px 0px;
    border-bottom: 1px dashed var(--color-input-out);
}

.container-itens-pedido .card-item:last-child{
    border-bottom:none;
}

.container-itens-pedido::after{
    content: "";
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    margin-top: 17px;
    background: radial-gradient(circle, transparent, transparent 50%, #ffffff 50%,  #ffffff 100%) -15px 2px / 16px 16px , repeat-x;
}

.footer-btn{
    display: flex;
    justify-content: end;
}